<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Test Nhúng Video</title>
  </head>
  <body style="background-color: #222">
    <h1 style="color: white">Test Video An Toàn (Link của tôi)</h1>
    <p style="color: white">
      Nếu video này chạy, code React của bạn có vấn đề.
    </p>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ysz5S6PUM-U"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>

    <hr style="margin-top: 20px" />

    <h1 style="color: white">
      Test Video Trailer Gốc (Link trong code của bạn)
    </h1>
    <p style="color: white">
      Video này có thể bị chặn nhúng, nhưng video ở trên PHẢI chạy.
    </p>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/WpW36ldAqnM"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </body>
</html>
